*{
    font-family: 'Calligraffitti';
}
.statistics{
    //border:2px solid blue;
    display: flex;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    padding: 30px;
    &_summary{
        //border: 2px solid chartreuse;
        display: grid;
        row-gap: 1px;
        padding-right: 15px;
        &_title{
            font-family: 'Oswald', sans-serif;
            font-size: 21px;
            font-weight: 600;
            text-decoration: underline;
            padding-bottom: 10px;
        }
        &_item{
            display: flex;
            column-gap: 10px;
            font-family: 'Oswald', sans-serif;
            font-size: 16px; font-weight: 600;
            cursor: pointer;
            //border: 2px solid black;
            &_icon{
                display: grid;
                //border: 2px solid red;
                justify-content: center;
                width: 70px;
            }
            &_word, &_count{
                display: grid;
                justify-content: start;
                align-items: end;
                padding: 5px;
                width: 50px;

            }
        }
    }
    &_chart{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        column-gap: 10px;
        align-items: flex-end;
        
        &_comment{
            display: grid;
            justify-content: center;
            align-items: end;
            border-top-right-radius: 60px;
            position: relative;
            width: 30px;
            padding: 2px 5px;
        }

    }
    &_chart_round{
        border: 3px solid purple;
        width: 600px;
        &_title{
            display: grid;
            justify-content: center;
            font-size: 21px;
            padding: 10px;
        }
        &_comments{
            display: grid;
            border: 4px solid rgb(156, 79, 12);
            padding: 20px;
            &_comment{
                border: 1px solid rgb(0, 4, 255);
                font-size: 18px;
            }
        }
    }
}

